form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

a{
  padding: 5px;
  margin: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
background-color: rgb(23, 23, 23);
color: white;
padding: 0px;
margin: 0px;
font-family: 'Poppins', sans-serif;

text-align: center;
}

.hero nav a {
font-size: 25px;
font-weight: bold;
text-align: center;
padding-top: 20px;
text-decoration: none;
color: white;
flex-grow: 1;
margin-bottom: 50px;
}

.hero nav {
display: flex;
align-items: center;
justify-content: space-around;

}

::-webkit-scrollbar{
background-color: black;
}
::-webkit-scrollbar-track-piece{
background-color: black;
}

::-webkit-scrollbar-thumb{
 background: linear-gradient(white 0%, grey 100%);
 border-radius: 10px;
}
button{
border: none;
background-color: rgb(23, 23, 23);
color: white;
padding: 15px;
padding-left: 30px;
padding-right: 30px;
font-weight: bold;
border-radius: 2px;
border: 2px solid rgb(23, 23, 23);
font-size: 15px;
transition: all 0.25s;
}

button:hover{
background-color: white;
border: 2px solid rgb(23, 23, 23);
transform: translateY(-5px);
color: rgb(23, 23, 23);
}

button:active{
  background-color: rgb(23, 23, 23);
color: white;
}

#coloredText {
background: linear-gradient(to right, #006eff, #ea00ff);
background-clip: text;
-webkit-background-clip: text;
font-weight: bold;
color: transparent;
font-family: Arial, Helvetica, sans-serif;

}

#greyText {
background: linear-gradient(to right, #ffffff, #000000);
background-clip: text;
-webkit-background-clip: text;
font-weight: bold;
color: transparent;
font-family: Arial, Helvetica, sans-serif;

}

.contactForm{

  background-color: white;
  color: rgb(23, 23, 23);
  
  margin: 0 auto;
  max-width: 50vw;
  min-width: 30vw;

  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  border-radius: 10px;
}

.contactForm input,textarea{
  border: 2px solid rgb(23, 23, 23);
  padding: 5px;
  width: 40vw;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgb(23, 23, 23);
  color: white;

  resize: none;
}

h1{
  font-size: 50px;
}